.logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  cursor: pointer;
}
.rightOption {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#socialMediaBar {
  background-color: black;
  color: white;
  height: 4%;
  width: 100%;
  position: absolute;
  padding-left: 0;
  top: 0;
}
.socialMediaIconsContainer {
  text-align: right;
}
.socialMediaIcon {
  padding-left: 1%;
  padding-right: 1%;
  font-size: 22px;
}
#navStyle {
  margin-bottom: 0;
  padding-bottom: 2.5%;
  padding-top: 4.5%;
}
