.filterContainer {
  margin-top: 25%;
}
.filterTitle {
  font-size: 1.5vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

#sidebar {
  height: 80%;
  border-right: 5px solid black;
  padding-left: 0;
}
.searchBarContainer {
  margin-top: 25%;
  margin-left: 10%;
}
.searchBar {
  width: 60%;
  height: 40px;
  padding: 2%;
}
.searchButton {
  margin-left: 5%;
  height: 40px;
  width: 30%;
  background-color: black;
  color: white;
}
.greaterThanSign {
  font-size: 1vw;
  margin-right: 5%;
}
.normaliseLinkText {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.normaliseLinkText:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.sideBarContainer {
  list-style-type: none;
}

.sideBarContainer li {
  margin-top: 5px;
  font-size: 1.1vw;
  margin-left: 5%;
  cursor: pointer;
}
.paddingLeft {
  padding-left: 15%;
}
