.filterContainer {
  margin-top: 10%;
}
.filterTitle {
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.filterOption {
  font-size: 16px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  cursor: pointer;
}
#sidebar {
  height: 80%;
  border-right: 5px solid black;
  padding-left: 0;
}
.searchBarContainer {
  margin-top: 25%;
  margin-left: 10%;
}
.searchBar {
  width: 60%;
  height: 40px;
  padding: 2%;
}
.searchButton {
  margin-left: 5%;
  height: 40px;
  width: 30%;
  background-color: black;
  color: white;
}
.greaterThanSign {
  font-size: 12px;
  margin-right: 5%;
}
.normaliseLinkText {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.normaliseLinkText:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.unstyledList {
  list-style-type: none;
}
