.middle {
  text-align: left;
  margin-top: 8.5%;
}
.pageMiddle {
  margin-top: 5%;
}
.jewelleryMiddle {
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 10%;
}
.title {
  font-size: 2.1vw;
  margin-left: 5%;
  text-align: left;
  height: 5%;
  margin-top: 3%;
}
.inStore {
  font-size: 1.3vw;
  margin-left: 5%;
  text-align: right;
  height: 5%;
  margin-top: 3%;
}
.full-height {
  height: 100%;
  border-right: 5px solid black;
}
.modalContainer {
  position: absolute;
  margin-top: 2.5%;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 2.5% 4% 2.5% 2.5%;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 1%;
  outline: none;
}
.singleImageContainer {
  height: 90%;
}
.imageTitle {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2%;
}
.singleLineProducts {
  margin-bottom: 65%;
}
