.middle {
  text-align: left;
  margin-top: 8.5%;
}
.pageMiddle {
  margin-top: 5%;
}
.jewellryMiddle {
  text-align: center;
  margin-top: 1.5%;
}
.title {
  font-size: 32px;
  margin-left: 5%;
  text-align: left;
  height: 5%;
  margin-top: 3%;
}
.inStore {
  font-size: 20px;
  margin-left: 5%;
  text-align: right;
  height: 5%;
  margin-top: 3%;
}
.full-height {
  height: 100%;
  border-right: 5px solid black;
}
.modalContainer {
  position: absolute;
  margin-top: 5%;
  background-color: white;
  margin-left: 28%;
  margin-right: 28%;
  padding: 0% 4% 5% 2.5%;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 1%;
}
.singleImageContainer {
  height: 90%;
}
.imageTitle {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2%;
}
