.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aboutUsContainer {
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 5%;
  font-size: 1.25vw;
}
.categoriesSectionContainer {
  margin-bottom: 5%;
  margin-left: 2.5%;
  margin-right: 5%;
}
.categoriesImageContainer {
  width: 90%;
}
#textOverImage {
  color: whitesmoke;
  font-size: 2.2vw;
  bottom: 25%;
  left: 35%;
  position: absolute;
}
#textOverImage:hover {
  cursor: pointer;
}
.categoriesImageContainer:hover {
  opacity: 0.75;
  cursor: pointer;
}
.reviewsContainer {
  margin-top: 1%;
  margin-bottom: 5%;
}
