.footerContainer {
  text-align: left;

  height: auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-style: normal;
}
.footerTitles {
  font-weight: 400;
  font-size: 26px;
  color: white;
}
.footerDescriptions {
  margin-top: 10px;
  font-size: 16px;
  color: white;
}
.footerColumnContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}
.addressList {
  list-style-type: none;
  padding-left: 0;
}
.addressListItem {
  margin-top: 5px;
  font-size: 16px;
  color: white;
}
