.footerContainer {
  text-align: left;
  background-image: url('../../assets/ringsBackground2.jpg');
  height: auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-style: normal;
  color: white;
}
.footerTitles {
  font-weight: 400;
  font-size: 2vw;
}
.footerDescriptions {
  margin-top: 10px;
  cursor: pointer;
}
.footerColumnContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}
.addressList {
  list-style-type: none;
  padding-left: 0;
}
.addressList li {
  margin-top: 5px;
  font-size: 1.2vw;
}
.middle {
  padding-left: 20%;
  margin-top: 0;
}
.canClick li {
  cursor: pointer;
}
