.titleContainer {
  margin-top: 10%;
}
.imageContainer {
  margin-bottom: 10%;
  border: 2px solid rgb(214, 213, 213);
  border-radius: 1%;
  cursor: pointer;
  background-color: whitesmoke;
}
#imageContainerHeight {
  height: 35em;
}
