.titleContainer {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.imageContainer {
  margin-bottom: 10%;
  cursor: pointer;
  background-color: whitesmoke !important;
}
#imageContainerHeight {
  height: 30em;
}
.productImage {
  resize: both;
  padding-top: 4%;
}
