.paddingHorizontal {
  padding-left: 5%;
  padding-right: 5%;
}
.sliderSettingsStyle {
  text-align: center;
  cursor: pointer;
}
.reviewContainer {
  padding: 15% 5% 15% 5%;
  outline: none;
}
.reviewBoundary {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5% 5% 5% 5%;
}
.profileImage {
  position: fixed;
  width: 1.6%;
  border-radius: 50%;
  height: 22%;
  width: auto;
  overflow: visible;
  top: 0;
  margin-left: 0.75%;
}
.reviewBody {
  padding-top: 10%;
  text-align: left;
}
.reviewAuthor {
  font-size: 2vw;
  font-style: normal !important;
}
.reviewComment {
  padding-top: 2%;
  font-size: 1vw;
  font-style: normal !important;
}
.reviewStar {
  margin-top: 4%;
}
#quotes {
  float: right;
  color: lightgray;
}
