.welcomeContainer {
  flex: 1;
  padding-left: 0;
  margin-bottom: 5%;
}
#shopNowButton {
  position: absolute;
  top: 75%;
  left: 42%;
  background-color: transparent;
  color: white;
  border-radius: 20;
  border-width: 3px;
  border-color: white;
  font-size: 40;
  font-weight: bold;
  width: 16%;
  height: 5%;
}
.image {
  opacity: 0.8;
  position: relative;
  flex: 1;
}
.overImageText {
  position: absolute;
  font-size: 7vw;
  font-weight: 300;
  top: 30%;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  text-align: center;
}
.overImageText .smallerOverImageText {
  font-size: 2vw;
}
