.welcomeContainer {
  flex: 1;
}
#shopNowButton {
  position: absolute;
  top: 75%;
  left: 42%;
  background-color: transparent;
  color: white;
  border-radius: 20;
  border-width: 3px;
  border-color: white;
  font-size: 40;
  font-weight: bold;
  width: 16%;
  height: 5%;
}
.image {
  opacity: 0.8;
  position: relative;
}
